<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           ">
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" />
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    <bean id="AnalysisQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="Analysis"/>
    </bean>
    <bean id="AnalysisServiceListener" class="pl.edu.amu.dji.jms.lab4.analysis.AnalysisServiceListener">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="AnalysisServiceListener"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="AnalysisQueue"/>
    </bean>
</beans>